@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Press+Start+2P&family=Roboto+Mono&display=swap');

.header{
    padding-top: 25px;
    padding-left: 25px;
    padding-bottom: 25px;
    background-color: aliceblue;
    color:#1f2023;
}

header h1{
    font-family: 'Press Start 2P', cursive;
}